In [1]:
import os
import re 
import pyodbc
import pandas as pd

In [2]:
src = (r'C:\Users\MacalusoC\Desktop\Technical Docs\Caron\Data\First_Look\2019 02Feb 22 Fri')

tool_list = []
count = 0
folder_list = os.listdir(src)
for folder in folder_list:
    folder_src = (src + '\\' + folder)
    file_list = os.listdir(folder_src)
    for file in file_list:
        s = file.split()
        tool_list.append(s[2])
myset = set(tool_list)
tool_list = []

def sorted_nicely( l ): 
    """ Sort the given iterable in the way that humans expect.""" 
    convert = lambda text: int(text) if text.isdigit() else text 
    alphanum_key = lambda key: [ convert(c) for c in re.split('([0-9]+)', key) ] 
    return sorted(l, key = alphanum_key)

for x in sorted_nicely(myset):
    tool_list.append(x)

In [3]:
tool_list

['T6', 'T7', 'T8', 'T11', 'T14', 'T15', 'T17', 'T19']

In [4]:
df_t6 = pd.DataFrame()
df_t7 = pd.DataFrame()
df_t8 = pd.DataFrame()
df_t11 = pd.DataFrame()
df_t14 = pd.DataFrame()
df_t15 = pd.DataFrame()
df_t17 = pd.DataFrame()
df_t19 = pd.DataFrame()


folder_list = os.listdir(src)
for folder in folder_list:
    folder_src = (src + '\\' + folder)
    file_list = os.listdir(folder_src)
    for file in file_list:
        if file.endswith('.ldb'):
            pass
        else:
            one_half = ('DRIVER={Microsoft Access Driver (*.mdb, *.accdb)};UID=admin;UserCommitSync=Yes;Threads=3;SafeTransactions=0;PageTimeout=5;MaxScanRows=8;MaxBufferSize=2048;FIL=(MS Access);DriverId=25;DefaultDir=C:\\Users\\MacalusoC\\Desktop\\Technical Docs\\TLC_Program_Release\\Scripts;')
            two_half = (f'DBQ={folder_src}\\{file};')
            driver = (one_half + two_half)
            con = pyodbc.connect(driver)
            cursor = con.cursor()
            cursor.execute("""SELECT * FROM WinChartData""")
            data = pd.DataFrame.from_records(cursor.fetchall(),
                                                 columns=[desc[0] for desc in
                                                 cursor.description])
            cursor.execute("""SELECT * FROM WinChartEvent""")
            event = pd.DataFrame.from_records(cursor.fetchall(),
                                                 columns=[desc[0] for desc in
                                                 cursor.description])
            s = file.split()
            data['Tool'] = s[2]
            data['datetime'] = (s[6] + '/' + s[4] + '/' + s[5] + ' ' + s[7] + ':' + s[8] + ':' + s[9])
            if s[2] == 'T6':
                df_t6 = data.append(df_t6, ignore_index = True)
            elif s[2] == 'T7':
                df_t7 = data.append(df_t7, ignore_index = True)
            elif s[2] == 'T8':
                df_t8 = data.append(df_t8, ignore_index = True)
            elif s[2] == 'T11':
                df_t11 = data.append(df_t11, ignore_index = True)
            elif s[2] == 'T14':
                df_t14 = data.append(df_t14, ignore_index = True)
            elif s[2] == 'T15':
                df_t15 = data.append(df_t15, ignore_index = True)
            elif s[2] == 'T17':
                df_t17 = data.append(df_t17, ignore_index = True)
            elif s[2] == 'T19':
                df_t19 = data.append(df_t19, ignore_index = True)

In [5]:
for d in [df_t6,
          df_t7,
          df_t8,
          df_t11,
          df_t14,
          df_t15,
          df_t17,
          df_t19,]:
    d.dropna(axis = 1, how = 'all', inplace = True)
    d.drop(axis = 1, labels = ['Feedrate', 
                               'RPM', 
                               'Coolant2', 
                               'Coolant3', 
                               'Coolant4', 
                               'ApproachOn', 
                               'Extreme', 
                               'Wear', 
                               'UCut', 
                               'SlopeHP'], inplace= True)

In [6]:
df_t6.head()

,IDData,HP,Feedrate,RPM,Coolant1,Coolant2,Coolant3,Coolant4,ApproachOn,Extreme,Wear,UCut,SlopeHP,AccumulatedWork,CuttingHP,Tool,datetime
0,0,0,0,0,388,0,0,0,False,0,0,0,0,30452,-1775,T6,2019/2/22 11:50:21
1,1,1812,0,0,388,0,0,0,False,0,0,0,0,30452,37,T6,2019/2/22 11:50:21
2,2,1775,0,0,388,0,0,0,False,0,0,0,0,30452,0,T6,2019/2/22 11:50:21
3,3,1797,0,0,382,0,0,0,False,0,0,0,0,30452,22,T6,2019/2/22 11:50:21
4,4,1797,0,0,382,0,0,0,False,0,0,0,0,30452,22,T6,2019/2/22 11:50:21

In [7]:
df_t6.to_csv('df_t6.csv')
df_t7.to_csv('df_t7.csv')
df_t8.to_csv('df_t8.csv')
df_t11.to_csv('df_t11.csv')
df_t14.to_csv('df_t14.csv')
df_t15.to_csv('df_t15.csv')
df_t17.to_csv('df_t17.csv')
df_t19.to_csv('df_t19.csv')

In [10]:
#df_list = [df_t6,
#           df_t7,
#           df_t8,
#           df_t11,
#           df_t14,
#           df_t15,
#           df_t17,
#           df_t19]
#for d in df_list:
#    col_list = list(d)
#    for i in [6, 7, 8, 11, 14, 15, 17, 19]:
#        for n in range(0, 17):
#            d.rename(columns={col_list[n]: col_list[n] + '_' + str(i)}, inplace=True)