In [1]:
import numpy as np
import pandas as pd

pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

In [2]:
df_t6 = pd.read_csv('df_t6.csv')
df_t7 = pd.read_csv('df_t7.csv')
df_t8 = pd.read_csv('df_t8.csv')
df_t11 = pd.read_csv('df_t11.csv')
df_t14 = pd.read_csv('df_t14.csv')
df_t15 = pd.read_csv('df_t15.csv')
df_t17 = pd.read_csv('df_t17.csv')
df_t19 = pd.read_csv('df_t19.csv')

In [3]:
df_list = [df_t6,
           df_t7,
           df_t8,
           df_t11,
           df_t14,
           df_t15,
           df_t17,
           df_t19]
for d in df_list:
    d['datetime'] = pd.to_datetime(d.datetime)

In [4]:
# df_t6 telemetry means lag window
def oneHmean(d):
    # create an empty list 'temp'
    temp = [] 
    # define the feature columns to be iterated
    features = ['HP', 'Coolant1', 'AccumulatedWork', 'CuttingHP']
    # loop
    for column in features:
        # append to the list 'temp' a three hour (1H) sample taking the mean for each 'column' from the 'features' list
        temp.append(pd.pivot_table(d, index = 'datetime', columns = 'Tool', values = column)
                    .resample('1H', closed = 'left', label = 'right').mean().unstack())
    # create a dataframe to hold the information and concat the 'temp' list
    sensorData1H_mean = pd.concat(temp, axis = 1)
    # name the columns using the list 'features' + '1H_mean'
    sensorData1H_mean.columns = [n + '_1H_mean' for n in features]
    # reset the index values
    sensorData1H_mean.reset_index(inplace = True)
    return sensorData1H_mean

df_t6_m = oneHmean(df_t6)
df_t7_m = oneHmean(df_t7)
df_t8_m = oneHmean(df_t8)
df_t11_m = oneHmean(df_t11)
df_t14_m = oneHmean(df_t14)
df_t15_m = oneHmean(df_t15)
df_t17_m = oneHmean(df_t17)
df_t19_m = oneHmean(df_t19)

In [5]:
# rename mean columns 
counter = 0
t_list = ['T6',
          'T7',
          'T8',
          'T11',
          'T14',
          'T15',
          'T17',
          'T19']
df_m_list = [df_t6_m,
             df_t7_m,
             df_t8_m,
             df_t11_m,
             df_t14_m,
             df_t15_m,
             df_t17_m,
             df_t19_m]
for d in df_m_list:
    d.rename(index=str, columns={'HP_1H_mean': 'HP_1H_mean_' + str(t_list[counter]), 
                                 'Coolant1_1H_mean': 'Coolant1_1H_mean_' + str(t_list[counter]),
                                 'AccumulatedWork_1H_mean': 'AccumulatedWork_1H_mean_' + str(t_list[counter]),
                                 'CuttingHP_1H_mean': 'CuttingHP_1H_mean_' + str(t_list[counter])}, inplace = True)
    d.drop(axis = 1, labels = 'Tool', inplace = True)
    counter = counter + 1

In [6]:
# df_t6 telemetry standard deviation lag window
def oneHstd(d):
    # create an empty list 'temp'
    temp = [] 
    # define the feature columns to be iterated
    features = ['HP', 'Coolant1', 'AccumulatedWork', 'CuttingHP']
    # loop
    for column in features:
        # append to the list 'temp' a three hour (1H) sample taking the std for each 'column' from the 'features' list
        temp.append(pd.pivot_table(d, index = 'datetime', columns = 'Tool', values = column)
                    .resample('1H', closed = 'left', label = 'right').std().unstack())
    # create a dataframe to hold the information and concat the 'temp' list
    sensorData1H_std = pd.concat(temp, axis = 1)
    # name the columns using the list 'features' + '1H_std'
    sensorData1H_std.columns = [n + '_1H_std' for n in features]
    # reset the index values
    sensorData1H_std.reset_index(inplace = True)
    return sensorData1H_std

df_t6_s = oneHstd(df_t6)
df_t7_s = oneHstd(df_t7)
df_t8_s = oneHstd(df_t8)
df_t11_s = oneHstd(df_t11)
df_t14_s = oneHstd(df_t14)
df_t15_s = oneHstd(df_t15)
df_t17_s = oneHstd(df_t17)
df_t19_s = oneHstd(df_t19)

In [7]:
counter = 0
t_list = ['T6',
          'T7',
          'T8',
          'T11',
          'T14',
          'T15',
          'T17',
          'T19']
df_s_list = [df_t6_s,
             df_t7_s,
             df_t8_s,
             df_t11_s,
             df_t14_s,
             df_t15_s,
             df_t17_s,
             df_t19_s]
for d in df_s_list:
    d.rename(index=str, columns={'HP_1H_std': 'HP_1H_std_' + str(t_list[counter]), 
                                 'Coolant1_1H_std': 'Coolant1_1H_std_' + str(t_list[counter]),
                                 'AccumulatedWork_1H_std': 'AccumulatedWork_1H_std_' + str(t_list[counter]),
                                 'CuttingHP_1H_std': 'CuttingHP_1H_std_' + str(t_list[counter])}, inplace = True)
    d.drop(axis = 1, labels = 'Tool', inplace = True)
    counter = counter + 1

In [8]:
df_t6_m

             datetime  HP_1H_mean_T6  Coolant1_1H_mean_T6  AccumulatedWork_1H_mean_T6  CuttingHP_1H_mean_T6
0 2019-02-22 07:00:00    1908.299336           361.684249                  545.238955             45.201829
1 2019-02-22 08:00:00    1815.195173           368.656411                  539.852077             48.790316
2 2019-02-22 09:00:00    1838.237635           376.041526                  518.823115             37.431805
3 2019-02-22 10:00:00    1837.171236           380.880047                  509.842433             36.619956
4 2019-02-22 11:00:00    1811.300892           382.351702                  662.343395             33.264026
5 2019-02-22 12:00:00    1811.912083           382.452023                  669.851290             40.467224

In [9]:
df_t6_s

             datetime  HP_1H_std_T6  Coolant1_1H_std_T6  AccumulatedWork_1H_std_T6  CuttingHP_1H_std_T6
0 2019-02-22 07:00:00     32.845411            4.796472                  17.764998             9.408086
1 2019-02-22 08:00:00     10.945005            2.154420                  10.294853             8.772821
2 2019-02-22 09:00:00     15.596062            2.346382                   8.439378             9.806884
3 2019-02-22 10:00:00     30.542148            1.945728                  11.122805            10.076666
4 2019-02-22 11:00:00     18.407114            1.013803                  16.474518             8.011901
5 2019-02-22 12:00:00     20.090303            1.154700                  14.341540             4.192157

In [10]:
#first merge to get columns gathered
df = df_t6_m.merge(df_t7_m, on = 'datetime', how = 'inner')
# loop to merge the rest of the mean and std deviation columns
for d in [df_t8_m,
          df_t11_m,
          df_t14_m,
          df_t15_m,
          df_t17_m,
          df_t19_m,
          df_t6_s,
          df_t7_s,
          df_t8_s,
          df_t11_s,
          df_t14_s,
          df_t15_s,
          df_t17_s,
          df_t19_s,]:
    df = df.merge(d, on = 'datetime', how = 'inner')

In [11]:
df

,datetime,HP_1H_mean_T6,Coolant1_1H_mean_T6,AccumulatedWork_1H_mean_T6,CuttingHP_1H_mean_T6,HP_1H_mean_T7,Coolant1_1H_mean_T7,AccumulatedWork_1H_mean_T7,CuttingHP_1H_mean_T7,HP_1H_mean_T8,Coolant1_1H_mean_T8,AccumulatedWork_1H_mean_T8,CuttingHP_1H_mean_T8,HP_1H_mean_T11,Coolant1_1H_mean_T11,AccumulatedWork_1H_mean_T11,CuttingHP_1H_mean_T11,HP_1H_mean_T14,Coolant1_1H_mean_T14,AccumulatedWork_1H_mean_T14,CuttingHP_1H_mean_T14,HP_1H_mean_T15,Coolant1_1H_mean_T15,AccumulatedWork_1H_mean_T15,CuttingHP_1H_mean_T15,HP_1H_mean_T17,Coolant1_1H_mean_T17,AccumulatedWork_1H_mean_T17,CuttingHP_1H_mean_T17,HP_1H_mean_T19,Coolant1_1H_mean_T19,AccumulatedWork_1H_mean_T19,CuttingHP_1H_mean_T19,HP_1H_std_T6,Coolant1_1H_std_T6,AccumulatedWork_1H_std_T6,CuttingHP_1H_std_T6,HP_1H_std_T7,Coolant1_1H_std_T7,AccumulatedWork_1H_std_T7,CuttingHP_1H_std_T7,HP_1H_std_T8,Coolant1_1H_std_T8,AccumulatedWork_1H_std_T8,CuttingHP_1H_std_T8,HP_1H_std_T11,Coolant1_1H_std_T11,AccumulatedWork_1H_std_T11,CuttingHP_1H_std_T11,HP_1H_std_T14,Coolant1_1H_std_T14,AccumulatedWork_1H_std_T14,CuttingHP_1H_std_T14,HP_1H_std_T15,Coolant1_1H_std_T15,AccumulatedWork_1H_std_T15,CuttingHP_1H_std_T15,HP_1H_std_T17,Coolant1_1H_std_T17,AccumulatedWork_1H_std_T17,CuttingHP_1H_std_T17,HP_1H_std_T19,Coolant1_1H_std_T19,AccumulatedWork_1H_std_T19,CuttingHP_1H_std_T19
0,2019-02-22 07:00:00,1908.299336,361.684249,545.238955,45.201829,1742.945486,64.619373,269.296283,41.954182,5316.637077,640.264432,1241.989388,2077.540544,3895.641120,522.865174,1472.679288,1222.636665,3214.198036,45.246771,9308.554971,2300.547687,1555.011062,642.262010,233.887998,7.575225,84.696947,404.389912,327.231007,-29.387019,1062.124380,5.124485,79.898000,-134.099610,32.845411,4.796472,17.764998,9.408086,20.769192,32.319364,41.535105,21.543160,100.418928,0.789939,52.411398,49.869376,2143.965685,121.525623,1664.409760,2015.957232,103.752036,43.025899,507.634168,141.567375,16.477053,0.272956,54.345390,10.363601,13.174412,6.876643,138.270466,42.524644,10.525726,0.905315,36.255022,157.822938
1,2019-02-22 08:00:00,1815.195173,368.656411,539.852077,48.790316,1687.562531,44.935431,252.541911,24.015373,5260.494350,640.684491,1212.836909,2042.503454,3872.679359,526.595516,1871.579585,1834.004622,3117.315569,43.955069,9140.013947,2252.012229,1504.536118,642.438387,199.815464,8.993382,82.526965,411.906221,408.597871,-37.996063,1049.222367,4.306654,88.519694,-112.340986,10.945005,2.154420,10.294853,8.772821,19.597646,40.472091,27.384337,11.548653,47.624223,0.264682,47.299275,62.108527,2191.572082,118.031997,1800.388536,1984.580154,47.475002,40.670597,219.588487,66.613772,9.475537,0.197368,61.617647,7.128072,5.734958,2.975003,57.332148,34.180011,12.784663,1.311438,39.470360,128.549154
2,2019-02-22 09:00:00,1838.237635,376.041526,518.823115,37.431805,1689.725717,55.244925,245.859274,18.718653,5380.080327,640.762749,1194.865910,1998.026637,3915.119631,530.784550,1652.816784,1475.363358,3009.989852,29.009457,8796.365373,2164.645476,1510.901667,642.660610,176.236644,3.159668,82.641706,419.660509,362.190255,-27.804454,1058.618749,5.100444,70.626683,-179.793654,15.596062,2.346382,8.439378,9.806884,12.345801,9.592768,25.921013,11.021071,158.031333,0.173891,89.459906,137.833900,2191.396673,113.042235,1741.523935,2066.294195,50.569123,27.659800,247.844641,69.358056,9.551040,0.160512,55.185216,10.393906,2.381496,1.798612,124.340278,18.645974,13.769390,0.613463,31.188955,122.471503
3,2019-02-22 10:00:00,1837.171236,380.880047,509.842433,36.619956,1681.817639,26.335552,234.555478,17.307154,5460.602801,640.921268,1166.614482,1935.759349,3971.520216,532.734172,1843.300744,1773.880696,2965.208325,231.219409,8665.583493,2131.251477,1515.375516,642.776395,306.037290,10.104939,82.745194,423.527106,413.061760,-31.423946,1046.973294,4.626734,83.022872,-107.844730,30.542148,1.945728,11.122805,10.076666,15.197381,17.205730,33.614229,18.529731,66.201967,0.259760,41.124927,73.667729,2258.839753,111.537522,1873.158715,2129.402091,63.431441,195.772181,238.959911,78.436856,11.814991,0.303982,119.483708,20.008722,5.022515,2.340267,87.592800,16.268273,25.248426,1.075255,40.726304,152.557094
4,2019-02-22 11:00:00,1811.300892,382.351702,662.343395,33.264026,1670.759629,15.523590,258.270593,33.481408,5444.091986,641.221305,1226.713797,1967.350796,3907.637237,532.850576,1704.955290,1511.981677,4936.695058,223.727316,14355.071460,3521.439962,791.852664,643.091391,32.537894,-16.001773,80.455553,424.192738,375.432945,-33.097053,1020.320697,4.417390,207.131846,-167.222939,18.407114,1.013803,16.474518,8.011901,22.174289,12.224146,34.530794,22.807655,99.353526,0.135006,36.164129,38.697346,2231.231240,112.453906,1838.129484,2225.388682,106.308607,205.162497,422.707599,122.042773,5.682095,0.117727,15.109065,10.405664,3.030993,2.860558,138.829086,25.553764,48.511205,1.215124,96.119652,80.411188
5,2019-02-22 12:00:00,1811.912083,382.452023,669.851290,40.467224,1679.913456,35.729446,273.467336,31.196415,5477.179672,641.432755,1204.981644,1940.614712,3877.494883,532.813657,1729.960807,1559.575308,4946.718331,227.346523,14385.822202,3537.733626,793.575300,643.310904,32.114636,-15.292790,82.887867,423.434262,374.445135,-43.059652,1034.795789,5.165757,313.290350,-186.618372,20.090303,1.154700,14.341540,4.192157,19.320198,15.452601,14.667782,24.610642,94.425218,0.139001,63.845287,76.539636,2218.416895,113.196624,1854.324349,2230.130093,100.906716,201.547879,396.489237,124.136338,5.330174,0.130322,18.756864,5.805819,3.229488,3.073665,129.039747,24.609055,22.852875,0.922554,31.605621,23.816969

In [12]:
# concat the dfs into one, add a key for each to separate them
df_tab = pd.concat([df_t6,
                    df_t7,
                    df_t8,
                    df_t11,
                    df_t14,
                    df_t15,
                    df_t17,
                    df_t19,
                    df_t6_s,
                    df_t7_s,
                    df_t8_s,
                    df_t11_s,
                    df_t14_s,
                    df_t15_s,
                    df_t17_s,
                    df_t19_s], keys=['t6',
                                     't7',
                                     't8',
                                     't11',
                                     't14',
                                     't15',
                                     't17',
                                     't19',])

# group on the keys and apply your function
df_tab_m = df_tab.groupby(level=0).apply(oneHmean)
df_tab_s = df_tab.groupby(level=0).apply(oneHstd)
df_tab = df_tab_m.merge(df_tab_s, on = ['Tool', 'datetime'], how = 'inner')

In [13]:
df.to_csv('Caron_cleaned.csv')
df.shape

(6, 65)

In [14]:
df_tab.to_csv('Caron_tableau.csv')
df_tab.shape

(48, 10)

In [15]:
df.head()

,datetime,HP_1H_mean_T6,Coolant1_1H_mean_T6,AccumulatedWork_1H_mean_T6,CuttingHP_1H_mean_T6,HP_1H_mean_T7,Coolant1_1H_mean_T7,AccumulatedWork_1H_mean_T7,CuttingHP_1H_mean_T7,HP_1H_mean_T8,Coolant1_1H_mean_T8,AccumulatedWork_1H_mean_T8,CuttingHP_1H_mean_T8,HP_1H_mean_T11,Coolant1_1H_mean_T11,AccumulatedWork_1H_mean_T11,CuttingHP_1H_mean_T11,HP_1H_mean_T14,Coolant1_1H_mean_T14,AccumulatedWork_1H_mean_T14,CuttingHP_1H_mean_T14,HP_1H_mean_T15,Coolant1_1H_mean_T15,AccumulatedWork_1H_mean_T15,CuttingHP_1H_mean_T15,HP_1H_mean_T17,Coolant1_1H_mean_T17,AccumulatedWork_1H_mean_T17,CuttingHP_1H_mean_T17,HP_1H_mean_T19,Coolant1_1H_mean_T19,AccumulatedWork_1H_mean_T19,CuttingHP_1H_mean_T19,HP_1H_std_T6,Coolant1_1H_std_T6,AccumulatedWork_1H_std_T6,CuttingHP_1H_std_T6,HP_1H_std_T7,Coolant1_1H_std_T7,AccumulatedWork_1H_std_T7,CuttingHP_1H_std_T7,HP_1H_std_T8,Coolant1_1H_std_T8,AccumulatedWork_1H_std_T8,CuttingHP_1H_std_T8,HP_1H_std_T11,Coolant1_1H_std_T11,AccumulatedWork_1H_std_T11,CuttingHP_1H_std_T11,HP_1H_std_T14,Coolant1_1H_std_T14,AccumulatedWork_1H_std_T14,CuttingHP_1H_std_T14,HP_1H_std_T15,Coolant1_1H_std_T15,AccumulatedWork_1H_std_T15,CuttingHP_1H_std_T15,HP_1H_std_T17,Coolant1_1H_std_T17,AccumulatedWork_1H_std_T17,CuttingHP_1H_std_T17,HP_1H_std_T19,Coolant1_1H_std_T19,AccumulatedWork_1H_std_T19,CuttingHP_1H_std_T19
0,2019-02-22 07:00:00,1908.299336,361.684249,545.238955,45.201829,1742.945486,64.619373,269.296283,41.954182,5316.637077,640.264432,1241.989388,2077.540544,3895.641120,522.865174,1472.679288,1222.636665,3214.198036,45.246771,9308.554971,2300.547687,1555.011062,642.262010,233.887998,7.575225,84.696947,404.389912,327.231007,-29.387019,1062.124380,5.124485,79.898000,-134.099610,32.845411,4.796472,17.764998,9.408086,20.769192,32.319364,41.535105,21.543160,100.418928,0.789939,52.411398,49.869376,2143.965685,121.525623,1664.409760,2015.957232,103.752036,43.025899,507.634168,141.567375,16.477053,0.272956,54.345390,10.363601,13.174412,6.876643,138.270466,42.524644,10.525726,0.905315,36.255022,157.822938
1,2019-02-22 08:00:00,1815.195173,368.656411,539.852077,48.790316,1687.562531,44.935431,252.541911,24.015373,5260.494350,640.684491,1212.836909,2042.503454,3872.679359,526.595516,1871.579585,1834.004622,3117.315569,43.955069,9140.013947,2252.012229,1504.536118,642.438387,199.815464,8.993382,82.526965,411.906221,408.597871,-37.996063,1049.222367,4.306654,88.519694,-112.340986,10.945005,2.154420,10.294853,8.772821,19.597646,40.472091,27.384337,11.548653,47.624223,0.264682,47.299275,62.108527,2191.572082,118.031997,1800.388536,1984.580154,47.475002,40.670597,219.588487,66.613772,9.475537,0.197368,61.617647,7.128072,5.734958,2.975003,57.332148,34.180011,12.784663,1.311438,39.470360,128.549154
2,2019-02-22 09:00:00,1838.237635,376.041526,518.823115,37.431805,1689.725717,55.244925,245.859274,18.718653,5380.080327,640.762749,1194.865910,1998.026637,3915.119631,530.784550,1652.816784,1475.363358,3009.989852,29.009457,8796.365373,2164.645476,1510.901667,642.660610,176.236644,3.159668,82.641706,419.660509,362.190255,-27.804454,1058.618749,5.100444,70.626683,-179.793654,15.596062,2.346382,8.439378,9.806884,12.345801,9.592768,25.921013,11.021071,158.031333,0.173891,89.459906,137.833900,2191.396673,113.042235,1741.523935,2066.294195,50.569123,27.659800,247.844641,69.358056,9.551040,0.160512,55.185216,10.393906,2.381496,1.798612,124.340278,18.645974,13.769390,0.613463,31.188955,122.471503
3,2019-02-22 10:00:00,1837.171236,380.880047,509.842433,36.619956,1681.817639,26.335552,234.555478,17.307154,5460.602801,640.921268,1166.614482,1935.759349,3971.520216,532.734172,1843.300744,1773.880696,2965.208325,231.219409,8665.583493,2131.251477,1515.375516,642.776395,306.037290,10.104939,82.745194,423.527106,413.061760,-31.423946,1046.973294,4.626734,83.022872,-107.844730,30.542148,1.945728,11.122805,10.076666,15.197381,17.205730,33.614229,18.529731,66.201967,0.259760,41.124927,73.667729,2258.839753,111.537522,1873.158715,2129.402091,63.431441,195.772181,238.959911,78.436856,11.814991,0.303982,119.483708,20.008722,5.022515,2.340267,87.592800,16.268273,25.248426,1.075255,40.726304,152.557094
4,2019-02-22 11:00:00,1811.300892,382.351702,662.343395,33.264026,1670.759629,15.523590,258.270593,33.481408,5444.091986,641.221305,1226.713797,1967.350796,3907.637237,532.850576,1704.955290,1511.981677,4936.695058,223.727316,14355.071460,3521.439962,791.852664,643.091391,32.537894,-16.001773,80.455553,424.192738,375.432945,-33.097053,1020.320697,4.417390,207.131846,-167.222939,18.407114,1.013803,16.474518,8.011901,22.174289,12.224146,34.530794,22.807655,99.353526,0.135006,36.164129,38.697346,2231.231240,112.453906,1838.129484,2225.388682,106.308607,205.162497,422.707599,122.042773,5.682095,0.117727,15.109065,10.405664,3.030993,2.860558,138.829086,25.553764,48.511205,1.215124,96.119652,80.411188

In [16]:
df_tab.head()

  Tool            datetime   HP_1H_mean  Coolant1_1H_mean  AccumulatedWork_1H_mean  CuttingHP_1H_mean    HP_1H_std  Coolant1_1H_std  AccumulatedWork_1H_std  CuttingHP_1H_std
0  T11 2019-02-22 07:00:00  3895.641120        522.865174              1472.679288        1222.636665  2143.965685       121.525623             1664.409760       2015.957232
1  T11 2019-02-22 08:00:00  3872.679359        526.595516              1871.579585        1834.004622  2191.572082       118.031997             1800.388536       1984.580154
2  T11 2019-02-22 09:00:00  3915.119631        530.784550              1652.816784        1475.363358  2191.396673       113.042235             1741.523935       2066.294195
3  T11 2019-02-22 10:00:00  3971.520216        532.734172              1843.300744        1773.880696  2258.839753       111.537522             1873.158715       2129.402091
4  T11 2019-02-22 11:00:00  3907.637237        532.850576              1704.955290        1511.981677  2231.231240       112.453906             1838.129484       2225.388682